body {
    /* font-family: Garamond, sans-serif; */
    background-color: rgb(255, 255, 255);

}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: center;
    
    /* display: none; */
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#Chatbox {
    background-color: powderblue;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    margin-bottom: 80px !important;
}
#chatbox{
    padding-bottom: 80px;
    /* margin-bottom: 80px; */
    /* overflow-y: auto; */
    height: 60%;
}
/* #userInput {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1% 25%;
    background-color: white;
    width: 100%;
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
} */
#userInput{
    margin-bottom: 1%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1% 1%;
    background-color: white;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 32%;
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
}
#userInput:focus{
    box-shadow: 0 5px 10px rgb(0 0 0 / 35%);
}
#textInput {
    /* width: 83%; */
    width: 44vh;
    border: none;
    /* border: 1px; */
    /* border-bottom: 3px solid lightcoral; */
    font-family: monospace;
    font-size: 17px;
}
#textInput:focus{
    border: none;
    outline: none;
}
#icon{position: absolute;
    right: -2px;
    top: 0;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    /* background: #FF676D; */
    /* background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff); */
    background:white;
    color: #FFF;
    width: 110px;
    border-radius: 0 25px 25px 0;
}
#buttonInput  {
    font-family: monospace;
    font-size: 17px;
}
/* button{
    padding: 3px;
} */
.userText {
    /* border-radius: 25px; */
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    border-radius: 25px;
    /* display: contents; */
    /* background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff); */
    /* text-align: justify;
    text-justify: inter-word; */
    background-color: #e0e0e0;
    padding: 10px;
    /* border-radius: 2px; */
}

.botText {
    display: inline-block;
    text-align: justify;
    /* background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff); */
    padding: 10px;
    background: white;
    color: black;
    /* color: whitesmoke; */
    font-family: monospace;
    font-size: 17px;
    /* text-align: left; */
    line-height: 30px;
    border-radius: 25px;
}

.botText span {
    display: contents;
    /* background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff); */
    /* background-color: #EF5350; */
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 10px 15px rgb(103 58 183 / 30%);
}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;

}
.navbar-expand-lg .navbar-nav {
    /* margin-right: auto; */
    margin-left: auto;
}
.navbar-dark .navbar-toggler {
    margin-left: auto;
}
#clearScrn{
    position: absolute;
    right: 1%;
}
/* .inlineContainer {
    display: inline-flex;
}
.inlineIcon {
    width:20px;
    object-fit: contain;
  } */
@media(max-width: 360px){
    #textInput{
        width:27vh;
    }
    #userInput{
        bottom: 1.5%;
        padding: 3% 1%;
        width: 80%;
    }
}